<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.t2xm">
	
	<application
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:roundIcon="@mipmap/ic_launcher_round"
			android:supportsRtl="true"
			android:theme="@style/Theme.Trip2xiamen">
		<activity
				android:name=".application.activity.MyReviewsActivity"
				android:exported="true" />
		<activity
				android:name=".application.activity.MyFavouriteActivity"
				android:exported="true" />
		<activity
				android:name=".application.activity.SettingsActivity"
				android:exported="true" />
		<activity
				android:name=".application.activity.ReviewActivity"
				android:exported="true" />
		<activity
				android:name=".application.activity.DetailsActivity"
				android:exported="true" />
		<activity
				android:name=".application.activity.MainActivity"
				android:exported="true"/>
		<activity
				android:name=".application.activity.SignUpActivity"
				android:exported="true" />
		<activity
				android:name=".application.activity.StartActivity"
				android:exported="true">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
	</application>

</manifest>